html 
{
    background-image: url("assets/r6bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Abel', sans-serif;
    line-height: 1.5;
    cursor: url("assets/cursor.cur"), auto;
    overflow-x: hidden;
    height: 100%;
    padding: 0;
}

body
{
    margin: 0;
}

a
{
    text-decoration: none;
    color: black;
}

h1
{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 4.6875rem;
    line-height: 3.75rem;
    letter-spacing: 0;
}

h2
{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 3.0rem;
    line-height: 2.5rem;
    letter-spacing: 0;
}

button
{
    border-radius: 6px;
    border: 2px solid #2397fc;
    display: inline-block;
    height: 40px;
    width: 200px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px;
    font-family: Abel, sans-serif;
    font-weight: 400;
    font-size: 1.4375rem;
    line-height: 1.2rem;
    letter-spacing: 0;
    background-color: transparent;
    vertical-align: middle;
}

.divider
{
    border-top: 1px solid #5d6e77;
}

.horizontal_puffer
{
    padding: 20px;
}

.header
{
    top: 0;
    background-color: #000;
    padding: 25px 0 24px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: block;
    box-sizing: border-box;
    height: 106px;
}

.header_container
{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;
    align-items: center;
}

.header_logo
{
    display: inline;
}

.topnav
{
    background-color: #fff;
    margin-top: 106px;
    box-sizing: border-box;
    display: block;
}

.topnav_container
{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1280px;
}

.topnav_list
{
    height: 100%;
    margin: 0 15px 0 0;
    padding: 0;
    list-style: none;
}

.topnav_content
{
    display: inline-block;
    height: 100%;
    padding: 20px 20px 19px;
    text-transform: uppercase;
    transition: color .2s ease;
    user-select: none;
    font-weight: 400;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0;
}

.topnav_active
{
    background-color: #2397fc;
}

.topnav_inactive
{
    color: #000;
}

.global_footer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #0f1d24;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: Spartan, sans-serif;
}

.global_footer_container
{
    justify-content: normal;
    display: flex;
    align-content: flex-start;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 350px;
    padding-left: 350px;
}

.global_footer_heading
{
    font-weight: 400;
    font-size: .75rem;
    line-height: .9375rem;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.global_footer_section
{
    margin-bottom: 0;
    max-width: 500px;
    padding: 0 20px 0 0;
    text-align: left;
    width: 33.333%;
}

.global_footer_links
{
    margin-top: -5px;
    text-align: left;
    font-weight: 400;
    font-size: 1.0rem;
    line-height: 1.33rem;
    letter-spacing: 0;
    text-transform: uppercase;
}

.global_footer_links a
{
    color: #fff;
}

.global_footer_copyright
{
    font-weight: 400;
    font-size: .75rem;
    line-height: .9375rem;
    letter-spacing: 0;
    margin-bottom: 15px;
    max-width: 500px;
    padding: 0 20px 0 0;
    text-align: left;
    width: 33.333%;
}

.section_content
{
    padding-top: 50px;
    padding-bottom: 55px;
    position: relative;
    display: block;
    box-sizing: border-box;
}

.section_container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;
}

.section_box
{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 45px 40px 25px;
    width: 100%;
}

.error_box
{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 45px 40px 25px;
    width: 100%;
    color: #c43535;
}

.section_box p
{
    margin-bottom: 20px;
}

.section_list
{
    margin: 0 15px 0 0;
    padding: 0;
    list-style: none;
}

.video_frame
{
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 106px;
    left: 0px;
    right: 0px;
    bottom: 0px
}

.search_container
{
    display: block;
    flex: 1 1 auto;
    position: relative;
    max-width: 600px;
}

.search_text
{
    border-radius: 4px;
    border: 2px solid #2397fc;
    color: #1c5570;
    max-width: 310px;
    outline: none;
    padding: 10px 10px 10px 35px;
    width: 100%;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-size: .9375rem;
    line-height: 1.40625rem;
    letter-spacing: 0;
    -webkit-appearance: textfield;
    outline-offset: -2px;
    background-color: transparent;
    margin: 0;
    touch-action: manipulation;
    overflow: visible;
}

.platform_select
{
    margin-bottom: 10px;
    position: relative;
}

.platform_list
{
    border-radius: 6px;
    border: 2px solid #2397fc;
    display: inline-block;
    height: 40px;
    margin: 0;
    padding: 0;
    user-select: none;
    list-style: none;
}

.platform_platform
{
    display: inline-block;
    cursor: pointer;
    height: 75%;
    text-transform: uppercase;
    padding: 6px 35px 5px;
    transition: all .2s ease;
    text-align: center;
    font-weight: 400;
    font-size: 1.4375rem;
    line-height: 1.4375rem;
    letter-spacing: 0;
}

.platform_active
{
    background-color: #2397fc !important;
    color: #fff;
}

.platform_inactive
{
    display: inline-block;
    color: #2397fc;
}

.stats_container_general
{
    margin-top: 28px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.stats_box
{
    margin-right: 45px;
}

.stats_single_tag
{
    margin-bottom: 9px;
    font-size: .9375rem;
    line-height: .9375rem;
    letter-spacing: 0;
    display: block;
    font-weight: 400;
}

.stats_single_content
{
    font-size: 4.3rem;
    line-height: 3.75rem;
    letter-spacing: 0;
    display: block;
    text-transform: uppercase;
    font-weight: 400;
}

.stats_box_surround
{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    justify-content: space-between;
}

.stats_box_small
{
    width: 50%;
    margin-bottom: 20px;
}

.stats_single_tag_small
{
    display: block;
    margin-bottom: 2px;
    font-weight: 400;
    font-size: .9375rem;
    line-height: 1.125rem;
    letter-spacing: 0;
}

.stats_single_content_small
{
    display: block;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.875rem;
    letter-spacing: 0;
}

.stats_table table
{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.stats_table table td
{
    border: 1px solid #5d6e77;
}

.stats_table table tr:first-child td {
    border-top: 0;
}

.stats_table table tr td:first-child {
    border-left: 0;
}

.stats_table table tr:last-child td {
    border-bottom: 0;
}

.stats_table table tr td:last-child {
    border-right: 0;
  }

.stats_table_head
{
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    font-weight: 400;
}

.stats_table_body
{
    font-size: 3rem;
    line-height: 2.5rem;
    letter-spacing: 0;
    font-weight: 400;
    padding: 30px;
}

.stats_type_list
{
    border-radius: 6px;
    border: 2px solid #2397fc;
    display: inline-block;
    height: 40px;
    margin: 0;
    padding: 0;
    user-select: none;
    list-style: none;
}

.stats_weapon_box
{
    width: 24%;
    position: relative;
    padding-bottom: 44px;
    padding-right: 10px;
    margin: 0 .5%;
    display: flex;
    flex-direction: column;
}

.stats_weapon_image
{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    display: inline-block;
    width: 95%;
    height: 175px;
}

.stats_weapon_image_rifle
{
    background-image: url("assets/assaultrifle.png");
}

.stats_weapon_image_submachine
{
    background-image: url("assets/submachinegun.png");
}

.stats_weapon_image_lightmachine
{
    background-image: url("assets/lightmachinegun.png");
}

.stats_weapon_image_marksman
{
    background-image: url("assets/marksmanrifle.png");
}

.stats_weapon_image_handgun
{
    background-image: url("assets/handgun.png");
}

.stats_weapon_image_shotgun
{
    background-image: url("assets/shotgun.png");
}

.stats_weapon_image_machine
{
    background-image: url("assets/machinegun.png");
}

.stats_weapon_heading
{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.top_scroll {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
}
